<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="VT100" type="Microsoft.Dynamics.Nav.Adcs.Configuration.VT100ConfigurationSection, Microsoft.Dynamics.Nav.VT100Plugin"/>
  </configSections>
  <VT100>
    <Warehouse>
      <Endpoints>

        <add name="NavWSEndpoint" url="http://[local]:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Codeunit/ADCS"/>

        <!-- Azure deployment example: -->
        <!--<add name="NavWSEndpoint" url="https://CloudService:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Codeunit/ADCS" UserName="NavUser" Password="NavUserPassword" />-->

      </Endpoints>
    </Warehouse>
    <Terminal listenPort="6666" listenIP="127.0.0.1" stylesheet="VT100_W2k_and_OtherClients.xsl"/>
  </VT100>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
